/* style for index.php role playing game 
author: alexander guenzel 
date: 2025-07
*/

@font-face {
  font-family: "Akaya";
  src: url("../fonts/AkayaTelivigala-Regular.ttf") format("truetype");
}

:root {
  --bg-header-footer: #1f1f1f;
  --text-header-footer: rgb(240, 240, 240);
  --bg-main: rgb(240, 240, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: 1.2rem;
  font-family: "Akaya";
  background-color: var(--bg-main);
}

header,
footer {
  background-color: var(--bg-header-footer);
  color: var(--text-header-footer);
  height: clamp(90px, 10vh, 120px);
  display: grid;
  place-content: center;
  padding: max(5vh, 10px) 0;
  font-size: clamp(1em, 5vw, 1.5em);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  max-width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
  width: 100%;
}

.btn {
  width: 30%;
  min-width: fit-content;
  padding: 0.5rem;
  background-color: #1f1f1f;
  color: rgb(240, 240, 240);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.bth:focus {
  filter: brightness(1.2);
}

.btn:target {
  filter: brightness(0.8);
}

.btn.game {
  background-color: rgb(0, 128, 79);
}
.btn.attack {
  background-color: rgb(99, 99, 99);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex: 1 1 0;
  max-width: 100%;
}

.card-container .player-card {
  border-radius: 7px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 200px;
  background-color: #c2c2c2;
  color: var(--bg-header-footer);
  padding: 20px 10px;
  font-size: clamp(1em, 2vw, 1.3em);
  border: 2px solid rgba(88, 88, 88, 0.466);
}

.card-container.game .player-card {
  align-items: center;
}

.card-container .player-card h3 {
  letter-spacing: 2px;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid rgba(88, 88, 88, 0.466);
  padding-bottom: 3px;
}

#character-selection.card-container .player-card > div:not(:first-of-type) {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: clamp(5px, 5vw, 2rem);
}

.card-container .player-card .name-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card-container .player-card .name-container input {
  padding: 0.2em;
  font-size: 1rem;
  flex: 1;
}

.card-container .player-card .ring-container {
  white-space: nowrap;
}

.human-container input[type="radio"] {
  accent-color: rgb(5, 2, 179);
}

.orc-container input[type="radio"] {
  accent-color: rgb(170, 2, 2);
}

.strong-ring-container input[type="radio"] {
  accent-color: rgb(245, 241, 0);
}

.lucky-ring-container input[type="radio"] {
  accent-color: rgb(1, 131, 60);
}

.highlight {
  font-weight: 700;
}
